
/*Pratyush*/


.navbar
{
    top:0;
    position:relative;

    
}
.col-md-6
{
background: rgb(255, 255, 0);
}

.col-xl-6
{
    background:silver;
}
.nav
{
top:0;
}
.img
{
    background-size:auto;
    
}

.container
{
    background:rgb(207, 195, 197);
}
.col-12
{
    width:100%;
}
hr{
    width: 10%;
    color: black;
    height: 1px;
    background-color: #333;
}
.display-4
{
    text-size:4rem;
    text-shadow: 1px 1px 10px black;
}

/*Pratyush/