body{
    height: 100%;
}
nav> a> .navbar-brand{
    background:no-repeat center top;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

  .card-columns{
      display: inline-block;
  }

  table{
      align-content: center;
      box-align: center;
      display: table;
      margin: 40px 0;
      width: 100%;
      border-spacing: 10;
      padding: 50px;
  }