/*Home Page starts*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

main{
    background: beige;
    text-align: center;
    width: 100%;
    height:200px;
}

.newpower
{
    background: #E7E058;
    width: 100%;

    height: 200px;
    text-align: center;
}
.newpower h1{
    float: left;
    width: 50%;
    padding: 0 30px;
}
.newpower p{
    float:right;
    width: 50%;
    padding-left: 60px;
    border-left: 1px solid black;
}
.two
{
    position: relative;
    top:10px;
    width: 100%;
    height: 400px;

}
.yoga
{
    position: relative;
    top: 0px;
}
.classchallenge
{
    background: turquoise;
    float: right;

    width: 400px;
    height: 500px;

}
.classes
{
    position: relative;
    top:500px;
    background: #e6e6e6;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
.hero-image
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
/*Home Page ends*/