/*Home Page starts*/
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

main{
    background: beige;
    text-align: center;
    width: 100%;
    height:200px;
}

.newpower
{
    background: #E7E058;
    width: 100%;

    height: 200px;
    text-align: center;
}
.newpower h1{
    float: left;
    width: 50%;
    padding: 0 30px;
}
.newpower p{
    float:right;
    width: 50%;
    padding:0 60px;
    border-left: 1px solid black;
}
.two
{
    position: relative;
    top:10px;
    width: 100%;
    height: 400px;

}
.yoga
{
    position: relative;
    top: 0px;
}
.classchallenge
{
    background: turquoise;
    float: right;
    width: 400px;
    height: 500px;

}
.classes
{
    position: relative;
    top:500px;
    background: #e6e6e6;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;}

/*Home Page ends*/

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.hero-image
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


@media only screen and (min-width: 480px) {

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; 
        margin: 0 auto;
    }
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}*/

.img-fluid{
    margin: 0px;
    padding:0px;
    width:100%;
}
/*added by madhu*/
.hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:black;
    background:oldlace;
    padding:40px;
  }
  
.hero-text hr{
      background-color:black;
  }
  .hero-image
  {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
  }