/*Home Page starts*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


main{
    background: beige;
    text-align: center;
    width: 100%;
    height:200px;
}

.newpower
{
    background: #E7E058;
    width: 100%;

    height: 200px;
    text-align: center;
    display: block;
}
.newpower h1{
    float: left;
    width: 50%;
    padding: 0 30px;
}
.newpower p{
    float:right;
    width: 50%;
    padding:0 60px;
    border-left: 1px solid black;
}
.two
{
    position: relative;
    top:0px;
    width: 100%;
    height: 400px;

}

.classchallenge
{
    background: rgba(127, 251, 255, 0.678);
    float: right;
    margin-left: 10px;
    padding-right: 270px;
    width: 400px;
    height: 500px;

}
.classes
{
    position: relative;
    top:100px;
    background-image: url("../img/10.jpg");
    
    width: 1600px;
    height: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.phon
{
    width: 1600px;
    position: relative;
    top:100px;
    display: flex;
}
.phone img
{
    width: 700px;
    height:600px;
}
.newapp
{
    background: #E7E058;
    width: 700px;
    height: 600px;
   float: right ;
  
  
}
.community
{
    position: relative;
    top:170px;
    background: none;
    height: 300px;
    width: 1600px;
    text-align: center;
    margin-left: 60px;
}
.event{
    height: 800px;
    width:1600px;
    display: flex;

}
.event1
{
    background: #b3d4fc;
    height: 600px;
    width: 700px;
}
.event1 img{
    height:600px;
    width:700px;
    float: right;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
.hero-image
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
/*Home Page ends*/