body{
    background-color:lightgray;
}
main{
    font-family: 'Dosis', sans-serif;
    text-align:center;
    
}
main h1{
    font-size:40px;
}
img{
    display: flex;
    width:5%;
    height:5%;
    margin-left:5%;
}
a{
    text-decoration: none;
    color:grey;
}
a:hover{
    color:black;
}

h2{
    font-weight: 100;
    font-size:35px;
}
main p{
    text-align:center;
    line-height: 1.5em;
    margin-left:20%;
    margin-right: 20%;
    font-size:28px;
}
@media only screen and (max-width: 600px) {

    main p{
        text-align:center;
        line-height: 1.5em;
        margin-left:5%;
        margin-right:5%;
        
    }

article{
    display: flex;
    justify-content: stretch;
    flex-wrap:wrap;
    flex-direction: row;
}
}
article section{
    width:40%;
    margin:auto;
}

article p{
    line-height: 1.5em;
}
.address{
    background-color: yellow;
    
}
section h1,h3,p{
    margin-left:5%;
    position:relative;
}

.address h1{
    font-size:50px;
}

hr{
    position:relative;
    margin-left:7px;
    background-color: black;
    height:2px;

}

